= stylesheet_link_tag 'style'

%h1
  Not Yet
- @to_vote.each do |s|
  %div
    %p= s.name
    %p= s.description

%h1
  Voted
- @voted.each do |s|
  %div
    %p= s.name
    %p= s.description

%h1
  Estimated
- @estimated.each do |s|
  %div
    %p= s.name
    %p= s.description
