%h1= pivotal.name

%h2 Current
%table.table.table-striped.story-list
  %tbody
    - stories.select{|s| s.current_state == 'unstarted'}.each do |story|
      %tr(id="#{story.id}")
        %td
          -if story.estimate > 0
            %span= story.estimate
          = story.name
        %td= story.requested_by
        %td= story.owned_by ? '=>' : nil
        %td= story.owned_by

%h2 Icebox
%table.table.table-striped.story-list
  %tbody
    - stories.select{|s| s.current_state == 'unscheduled'}.each do |story|
      %tr(id="#{story.id}")
        %td= story.name
