- fibonacci = [0, 1, 2, 3, 5, 8]

= stylesheet_link_tag 'bootstrap.min', 'style'
= javascript_include_tag 'jquery', 'application'

%title AsyncPoker
%h1
  Not Yet
- @to_vote.each do |s|
  .story.row{ :id => s.id }
    .span10
      .title= s.name
      .description= s.description
    - fibonacci.each do |v|
      .card.span1{:class => s.selected?(current_account, v) && 'selected' }
        .value= v

%h1
  Voted
- @voted.each do |s|
  %div
    %p= s.name
    %p= s.description

%h1
  Estimated
- @estimated.each do |s|
  %div
    %p= s.name
    %p= s.description
